@import url(./style.css);

/* HERO SECTION */
.hero-section{
    position: relative;
    width: 100%;
    background: var(--dark1);
}

.hero-section .hero-slider{
    height: 100vh;
    display: none;
    overflow: hidden;
}

.hero-section .main-slider{
    display: block;
}

.hero-section .hero-slider .text{
    position: absolute;
    top: 25%;
    left: 7%;
    color: var(--light1);
    z-index: 1;
}

.text h1{
    font-size: 5rem;
    margin-bottom: .5rem;
}
.text p{
    font-size: 1.3rem;
    opacity: 1;
}

.text .btns{
    margin-top: 5rem;
}
.text .btns a{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--light1);
    border: 1.5px solid var(--light1);
    border-radius: 5px;
    padding: 1.1rem;
    margin-right: .5rem;
    transition: .5s ease-in-out;
}
.text .btns a:hover{
    color: var(--other1);
    background: var(--dark1);
    border-color: var(--other1);
}

.text .btns .btn{
    color: var(--dark1);
    background: var(--other1);
    border: 1.5px solid transparent;
}
.text .btns .btn:hover{
    color: var(--other1);
    background: var(--dark1);
    border-color: var(--other1);
}

.hero-section .hero-slider img{
    object-fit: cover;
    opacity: .3;
}


/* PREV & NEXT */
.prev, .next{
    position: absolute;
    top: 50%;
    font-size: 5rem;
    color: var(--light1);
    padding: 1.5rem;
    cursor: pointer;
    user-select: none;
    transform: translate(0, -50%);
    transition: .3s;
}
.prev:hover, .next:hover{
    color: var(--other1);
}
.next{
    right: 0;
}

/* DOTS */
.dotsbox{
    position: absolute;
    left: 50%;
    bottom: 5rem;
    text-align: center;
    transform: translate(-50%);
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border: 3px solid var(--light1);
    border-radius: 50%;
    margin-inline: 1rem;
    cursor: pointer;
    transition: .3s;
}
.active, .dot:hover{
    border-color: var(--other1);
}


/* ABOUT US SECTION */
.about-section{
    padding: 5rem 12%;
    color: var(--light1);
    background: linear-gradient(to left, var(--dark1), #111);
}

.about-section h2{
    text-align: center;
}

.about-section video{
    width: 50%;
    box-shadow: 0 0 10px var(--light1);
}


/* SERVICE SECTION */
.service-section{
    padding: 5rem 12%;
    color: var(--light1);
    background: linear-gradient(to right, var(--dark1), #111);
}

.service-section .div2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
}

.service-section .div2 .title{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.service-section .div2 img{
    width: 6rem;
}

.service-section .div2 p{
    font-size: 1.2rem;
}

.service-section .div2 a{
    color: var(--light1);
    font-size: 1.2rem;
    border: 1.5px solid var(--light1);
    border-radius: 5px;
    padding: 1rem;
}
.service-section .div2 a:hover{
    color: var(--other1);
    border-color: var(--other1);
}


/* WORK SECTION */
.work-section{
    padding: 5rem 0;
    color: var(--light1);
    background: var(--dark1);
}

.work-section .div1{
    text-align: center;
}
.work-section .div1 p{
    padding: 0 2rem;
}

.work-section .div2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work-section .div2 img{
    width: 25rem;
    height: 25rem;
    opacity: .5;
    margin-bottom: .1rem;
    transition: .5s;
}
.work-section .div2 img:hover{
    padding: .5rem;
    opacity: 1;
}


/* INFOS SECTION */
.infos-section{
    height: 100vh;
    padding: 5rem 12%;
    color: var(--light1);
    background: url(../imgs/infos-bg.jpg)no-repeat, #555;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.infos-section .div1 h2{
    font-size: 3.5rem;
}

.infos-section .div2{
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
}

.infos-section .div2 span{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.infos-section .div2 span h3{
    font-size: 2.5rem;
}

iframe{
    width: 100%;
}


/* BOOK NOW FORM */
.book-now{
    padding: 5rem 12%;
    background: var(--dark1);
}

.book-now .div1{
    text-align: center;
    margin-bottom: 3.5rem;
}

.book-now .div1 h2{
    font-family: var(--font1);
    color: var(--light1);
}

.book-now .div1 span{
    color: var(--other1);
}

.book-now form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: 1.5px solid var(--other1);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--other1);
    padding: 5rem 5rem 2.5rem;
    margin-inline: auto;
}

.book-now form input{
    width: 100%;
    padding: .5rem 1rem;
}

.book-now form button{
    color: var(--dark1);
    background: var(--other1);
    font-family: var(--font1);
    font-size: 1.4rem;
    font-weight: 500;
    border: 1.5px solid var(--dark1);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 1.4rem 2.4rem;
    transition: .3s ease-in-out;
}
.book-now form button:hover{
    color: var(--other1);
    background: var(--dark1);
    border-color: var(--other1);
}


/* FOOTER */
.footer{
    width: 100%;
    /* background: linear-gradient(to right, var(--dark1)50%, var(--dark2)); */
    background: #111;
    color: var(--light1);
    text-align: center;
    padding: 2rem;
}

.footer p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
}

.footer span{
    color: var(--other1);
}